*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

.u-container-center {
  width: 100%;
  margin: 0 auto; }

.header-bg {
  position: relative;
  background-image: url(/assets/imgs/main-bg.jpg);
  min-height: 95vh;
  background-size: cover; }

header nav {
  background-color: #181818;
  display: flex;
  justify-content: space-between;
  align-items: center; }
header h1 {
  font-size: 5.2rem;
  margin-bottom: 1rem;
  line-height: 1.05; }
header h2 {
  font-size: 4.4rem; }
header p {
  font-size: 2.4rem;
  line-height: 1.6; }

.header-container {
  padding: 2rem 4rem;
  max-width: 70rem;
  position: absolute;
  left: 60%;
  top: 30%; }

.navigation {
  z-index: 1;
  width: 60%; }
  .navigation .toggler {
    z-index: 3;
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    width: 40px;
    height: 40px;
    opacity: 0; }
  .navigation .hamburger {
    z-index: 2;
    opacity: 0;
    position: absolute;
    right: 0.5rem;
    width: 40px;
    height: 40px;
    background-color: #181818;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0.5rem; }
  .navigation .hamburger > div {
    position: absolute;
    width: 70%;
    height: 3px;
    border-radius: 1.5px;
    background-color: #F0E43F;
    transition: .4s; }
  .navigation .hamburger > div::before,
  .navigation .hamburger > div::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 1.5px;
    background-color: #F0E43F;
    transition: .4s; }
  .navigation .hamburger > div::before {
    top: -10px; }
  .navigation .hamburger > div::after {
    top: 10px; }
  .navigation .toggler:checked ~ .links {
    visibility: visible; }
  .navigation .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg); }
  .navigation .toggler:checked + .hamburger > div {
    transform: rotate(135deg); }
  .navigation .toggler:checked + .hamburger > div::after,
  .navigation .toggler:checked + .hamburger > div::before {
    transform: rotate(90deg);
    top: 0; }

.links {
  padding: 3rem;
  display: flex;
  justify-content: space-around;
  list-style: none; }
  .links a {
    color: white;
    text-decoration: none;
    font-size: 1.8rem; }

.logo {
  width: 40%; }

.company-name .name,
.subtitle {
  max-width: 1000px;
  color: white; }

.company-name .name {
  font-size: 2.4rem; }

.company-name .subtitle {
  font-size: 1.4rem;
  font-weight: bold; }

@media screen and (max-width: 966px) {
  .navigation .hamburger {
    opacity: 1; }
  .navigation .links {
    background-color: #F0E43F;
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem; }
    .navigation .links a {
      color: black; }

  .logo {
    width: 100%; }

  .header-container {
    top: auto;
    left: 0;
    bottom: 0;
    max-width: none; }

  header {
    background-position-x: 22%; } }
@media screen and (min-width: 250px) and (max-width: 600px) {
  header nav {
    padding: 2rem; }

  .u-container-center {
    flex-direction: column; }

  .header-bg {
    min-height: 200vh; }

  .navigation .hamburger {
    top: 2rem; }

  header h1 {
    font-size: 4.2rem; }

  header h2 {
    font-size: 3.4rem; } }
@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .header-bg {
    overflow: hidden; }

  .header-container {
    top: 20%; } }
@use "sass:math";
.container {
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto; }

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }
  .row .col {
    flex: 1; }
  .row .col-1 {
    width: 8.3333333333%; }
  .row .col-2 {
    width: 16.6666666667%; }
  .row .col-3 {
    width: 25%; }
  .row .col-4 {
    width: 33.3333333333%; }
  .row .col-5 {
    width: 41.6666666667%; }
  .row .col-6 {
    width: 50%; }
  .row .col-7 {
    width: 58.3333333333%; }
  .row .col-8 {
    width: 66.6666666667%; }
  .row .col-9 {
    width: 75%; }
  .row .col-10 {
    width: 83.3333333333%; }
  .row .col-11 {
    width: 91.6666666667%; }
  .row .col-12 {
    width: 100%; }

@media (min-width: 48px) {
  .row .col-phone {
    flex: 1; }
  .row .col-phone-1 {
    width: 8.3333333333%; }
  .row .col-phone-2 {
    width: 16.6666666667%; }
  .row .col-phone-3 {
    width: 25%; }
  .row .col-phone-4 {
    width: 33.3333333333%; }
  .row .col-phone-5 {
    width: 41.6666666667%; }
  .row .col-phone-6 {
    width: 50%; }
  .row .col-phone-7 {
    width: 58.3333333333%; }
  .row .col-phone-8 {
    width: 66.6666666667%; }
  .row .col-phone-9 {
    width: 75%; }
  .row .col-phone-10 {
    width: 83.3333333333%; }
  .row .col-phone-11 {
    width: 91.6666666667%; }
  .row .col-phone-12 {
    width: 100%; } }
@media (min-width: 768px) {
  .row .col-tablet {
    flex: 1; }
  .row .col-tablet-1 {
    width: 8.3333333333%; }
  .row .col-tablet-2 {
    width: 16.6666666667%; }
  .row .col-tablet-3 {
    width: 25%; }
  .row .col-tablet-4 {
    width: 33.3333333333%; }
  .row .col-tablet-5 {
    width: 41.6666666667%; }
  .row .col-tablet-6 {
    width: 50%; }
  .row .col-tablet-7 {
    width: 58.3333333333%; }
  .row .col-tablet-8 {
    width: 66.6666666667%; }
  .row .col-tablet-9 {
    width: 75%; }
  .row .col-tablet-10 {
    width: 83.3333333333%; }
  .row .col-tablet-11 {
    width: 91.6666666667%; }
  .row .col-tablet-12 {
    width: 100%; } }
@media (min-width: 1200px) {
  .row .col-desktop {
    flex: 1; }
  .row .col-desktop-1 {
    width: 8.3333333333%; }
  .row .col-desktop-2 {
    width: 16.6666666667%; }
  .row .col-desktop-3 {
    width: 25%; }
  .row .col-desktop-4 {
    width: 33.3333333333%; }
  .row .col-desktop-5 {
    width: 41.6666666667%; }
  .row .col-desktop-6 {
    width: 50%; }
  .row .col-desktop-7 {
    width: 58.3333333333%; }
  .row .col-desktop-8 {
    width: 66.6666666667%; }
  .row .col-desktop-9 {
    width: 75%; }
  .row .col-desktop-10 {
    width: 83.3333333333%; }
  .row .col-desktop-11 {
    width: 91.6666666667%; }
  .row .col-desktop-12 {
    width: 100%; } }
@media (min-width: 1024px) {
  .row .col-laptop {
    flex: 1; }
  .row .col-laptop-1 {
    width: 8.3333333333%; }
  .row .col-laptop-2 {
    width: 16.6666666667%; }
  .row .col-laptop-3 {
    width: 25%; }
  .row .col-laptop-4 {
    width: 33.3333333333%; }
  .row .col-laptop-5 {
    width: 41.6666666667%; }
  .row .col-laptop-6 {
    width: 50%; }
  .row .col-laptop-7 {
    width: 58.3333333333%; }
  .row .col-laptop-8 {
    width: 66.6666666667%; }
  .row .col-laptop-9 {
    width: 75%; }
  .row .col-laptop-10 {
    width: 83.3333333333%; }
  .row .col-laptop-11 {
    width: 91.6666666667%; }
  .row .col-laptop-12 {
    width: 100%; } }
.footer {
  background-color: #181818;
  padding: 5rem 0;
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  color: #F0E43F; }
  .footer__copyright {
    text-align: center;
    margin-top: 2rem; }

.footer__powerdBy {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center; }

.footer__powerdBy a {
  max-width: 250px; }
  @media (max-width: 1200px) {
    .footer__powerdBy a {
      max-width: 200px; } }

.footer__powerdBy img {
  width: 100%; }

.accordion {
  width: 70rem;
  margin: 0 auto;
  line-height: 1;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-right: 4rem; }
  .accordion_item {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 2.4rem;
    display: grid;
    grid-template-columns: 1fr auto;
    row-gap: 32px;
    align-items: center;
    background-color: white; }
  .accordion_text {
    font-size: 2.4rem;
    font-weight: 500;
    color: #181818; }
  .accordion_hidden-box {
    display: none; }
    .accordion_hidden-box ul {
      font-size: 2rem;
      color: #181818;
      margin-left: 20px;
      display: flex;
      flex-direction: column;
      gap: 12px; }

.open {
  border-top: 4px solid #d8cd39; }

.open .accordion_hidden-box {
  display: block; }

@media screen and (max-width: 600px) {
  .accordion {
    padding-right: 0;
    width: 30rem; }

  .accordion_hidden-box {
    font-size: 1.5rem;
    color: Red; } }
.custom_card {
  overflow: hidden;
  gap: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #F0E43F;
  min-height: 800px;
  padding: 2rem 4rem;
  transition: 0.7s all ease-in-out; }
  .custom_card .card-title {
    width: 100%;
    font-size: 1.8rem;
    color: white;
    text-align: left;
    border-bottom: 2px solid #F0E43F; }
  .custom_card p {
    margin-top: auto;
    background-color: #F0E43F;
    font-size: 1.6rem;
    color: black;
    padding: 2rem 4rem; }
  .custom_card .custom_card_Button {
    font-size: 1.6rem;
    padding: 2rem 4rem;
    text-decoration: none;
    background-color: #181818;
    color: #F0E43F; }

.custom_card:hover {
  background-image: url(/assets/imgs/main-bg.jpg); }

.form {
  padding: 4rem;
  width: 90%;
  margin: 4rem auto 0 auto; }
  .form_feild {
    padding: 2rem;
    display: block;
    border: 1px solid black;
    margin-bottom: 3rem;
    width: 100%; }
    .form_feild:focus {
      outline: none; }
  .form input::placeholder,
  .form textarea::placeholder {
    color: black;
    opacity: 1; }
  .form textarea {
    height: 20rem;
    resize: none; }
  .form input[type=submit] {
    width: 50%;
    margin-top: 2rem;
    background-color: #181818;
    padding: 2rem;
    color: white;
    border: none;
    text-transform: uppercase;
    cursor: pointer; }

.checkbutton-wrapper {
  margin-top: 1.5rem;
  display: flex;
  gap: 1rem;
  font-size: 1.7rem; }

body {
  display: flex;
  flex-direction: column;
  height: 100%; }

@media screen and (min-width: 250px) and (max-width: 600px) {
  p {
    font-size: 1.5rem; } }
.primary-headeing {
  color: black;
  font-size: 4.8rem; }

.u-center {
  text-align: center; }

.secondary-headeing {
  font-size: 2.4rem; }

.custom-path3 {
  -webkit-clip-path: polygon(0 0, 73% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 73% 0, 100% 100%, 0 100%); }

.seconday-color-bg {
  background-color: #F0E43F; }

.position-absoulte {
  position: absolute; }

.position-relative {
  position: relative; }

.bg-black {
  background-color: black; }

.twenty-percent-top {
  top: 20%; }

.u-center {
  text-align: center; }

.u-margin-2 {
  margin-top: 2rem; }

.u-margin-4 {
  margin-top: 4rem; }

.u-grid-margin-4 {
  margin: 4rem; }

.full-screen {
  max-width: 120rem; }

.full-width {
  width: 100%; }

.Our-Values-section img {
  width: 100%;
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%); }

.sixty-percent-left {
  left: 65%; }

.Core-values-list {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  list-style-type: decimal;
  gap: 2rem; }

.Core-values-list li {
  font-size: 2.4rem; }

.section-title {
  text-align: center;
  font-size: 7.2rem; }

.become-memeber-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem; }

.become-memeber-btn {
  padding: 2rem 4rem;
  background-color: black;
  color: white;
  font-size: 1.8rem;
  text-decoration: none; }

.card-img-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(/assets/imgs/main-bg.jpg);
  background-size: cover; }

.card {
  margin-bottom: 2rem;
  margin-left: 1rem;
  height: 35rem;
  width: 33rem;
  font-size: 1.5em;
  color: white;
  border-radius: 1em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  text-decoration: none;
  gap: 2rem; }

.card h1 {
  font-size: 2.8rem; }

.card p {
  font-size: 1.6rem; }

.become-memeber img {
  margin-left: 1rem;
  width: 90%; }

.section-margin {
  margin-top: 13rem; }

.margin-top-5 {
  margin-top: 5rem; }

.align-start {
  align-self: flex-start; }

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem; }

@media screen and (max-width: 600px) {
  .become-memeber img {
    width: 80%;
    margin-right: 2rem; } }
@media screen and (max-width: 998px) {
  .become-memeber img {
    margin-left: 4rem; } }
@media screen and (min-width: 999px) {
  .become-memeber img {
    margin-left: 5rem; } }
@media screen and (min-width: 300px) and (max-width: 1200px) {
  .section-title {
    font-size: 4rem; }

  .primary-headeing {
    font-size: 2.4rem; }

  .secondary-headeing {
    font-size: 1.6rem; } }
.Contact_us_left {
  min-height: 100vh; }

.contact_us h1 {
  color: white;
  font-size: 7.2rem; }

.defualt_flex {
  align-items: stretch; }

.Contact_us_become-memeber_text {
  flex-wrap: wrap;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.reverse {
  flex-direction: row; }

@media screen and (min-width: 1200px) {
  .reverse {
    flex-direction: row-reverse; } }
@media screen and (min-width: 250px) and (max-width: 600px) {
  .card {
    width: 28rem; } }
@media screen and (min-width: 250px) and (max-width: 1400px) {
  .contact_us h1 {
    font-size: 3.2rem; }

  .Contact_us_become-memeber_text {
    padding: 2rem; }

  .u-margin-2 {
    margin-top: 0px; } }
.program-section img {
  width: 100%; }

.form textarea {
  margin-top: 3rem; }

.dropdown {
  display: block;
  border: 1px solid black;
  width: 100%;
  position: relative; }

.dropdown-select {
  padding: 1.5rem;
  background-color: white;
  border-radius: 4px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.6rem;
  cursor: pointer; }

.dropdown-list {
  opacity: 0;
  visibility: hidden;
  border: 1px solid black;
  position: absolute;
  border-radius: 4px;
  background-color: white;
  top: 101%;
  left: 0;
  right: 0; }

.dropdown-list__item {
  cursor: pointer;
  padding: 1rem;
  font-size: 1.4rem; }

.dropdown-list__item:hover {
  background-color: #F0E43F; }

.card-img-no-black {
  background-image: url(/assets/imgs/main-bg.jpg);
  background-size: cover; }

.u-padding-2 {
  padding: 2rem; }

/*# sourceMappingURL=style.css.map */
