@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;700&family=Poppins:wght@300;400;500;600;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Poppins', sans-serif; }

.u-container-center {
  width: 100%;
  margin: 0 auto; }

.heading-primary {
  font-size: 2rem; }
  @media screen and (min-width: 1024px) {
    .heading-primary {
      font-size: 3.4rem; } }

.heading-secondary {
  font-size: 1.6rem; }
  @media screen and (min-width: 1024px) {
    .heading-secondary {
      font-size: 2.8rem; } }

.paragraph-text {
  font-size: 1.4rem; }
  @media screen and (min-width: 1024px) {
    .paragraph-text {
      font-size: 1.8rem; } }

.form_title-font-size {
  color: white;
  font-size: 2rem; }
  @media screen and (min-width: 1024px) {
    .form_title-font-size {
      font-size: 6.4rem; } }

.header-bg {
  position: relative;
  background-image: url(/assets/imgs/Photo\ Nov\ 25\ 2022\,\ 12\ 22\ 22\ AM.webp), url(/assets/imgs/Photo\ Nov\ 25\ 2022\,\ 12\ 22\ 22\ AM-min.jpg);
  min-height: 95vh;
  background-size: cover; }

header .dropdown__menu {
  display: none;
  position: absolute;
  right: 0%;
  background-color: #181818; }
  header .dropdown__menu ul {
    display: block;
    margin: 1rem; }
    header .dropdown__menu ul li {
      padding: 10px; }
header nav {
  background-color: #181818;
  display: flex;
  justify-content: space-between;
  align-items: center; }
header h1 {
  font-size: 3.4;
  margin-bottom: 1rem;
  line-height: 1.05; }
header h2 {
  font-size: 2.8rem; }
header p {
  font-size: 1.8rem;
  line-height: 1.6; }

.header-container {
  padding: 2rem 4rem;
  max-width: 70rem;
  position: absolute;
  left: 60%;
  top: 30%; }

.header-container .header-container-inner h2 {
  margin-left: 0%; }

.navigation {
  z-index: 1;
  width: 60%; }
  .navigation .toggler {
    z-index: 3;
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    width: 40px;
    height: 40px;
    opacity: 0; }
  .navigation .hamburger {
    z-index: 2;
    opacity: 0;
    position: absolute;
    right: 0.5rem;
    width: 40px;
    height: 40px;
    background-color: #181818;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0.5rem; }
  .navigation .hamburger > div {
    position: absolute;
    width: 70%;
    height: 3px;
    border-radius: 1.5px;
    background-color: #FFD700;
    transition: .4s; }
  .navigation .hamburger > div::before,
  .navigation .hamburger > div::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 1.5px;
    background-color: #FFD700;
    transition: .4s; }
  .navigation .hamburger > div::before {
    top: -10px; }
  .navigation .hamburger > div::after {
    top: 10px; }
  .navigation .toggler:checked ~ .links {
    visibility: visible; }
  .navigation .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg); }
  .navigation .toggler:checked + .hamburger > div {
    transform: rotate(135deg); }
  .navigation .toggler:checked + .hamburger > div::after,
  .navigation .toggler:checked + .hamburger > div::before {
    transform: rotate(90deg);
    top: 0; }

.links {
  padding: 3rem;
  display: flex;
  justify-content: space-around;
  list-style: none; }
  .links a {
    color: white;
    text-decoration: none;
    font-size: 1.8rem; }

.logo {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  width: 40%; }

.company-name .name,
.subtitle {
  max-width: 1000px;
  color: white; }

.company-name .name {
  font-size: 2.4rem; }

.company-name .subtitle {
  font-size: 1.4rem;
  font-weight: bold; }

@media screen and (max-width: 966px) {
  header .dropdown__menu {
    list-style: none;
    right: 50%;
    background: none;
    transform: translateX(50%); }
    header .dropdown__menu ul {
      text-align: center;
      list-style-type: none; }

  .navigation .hamburger {
    opacity: 1; }
  .navigation .links {
    background-color: #FFD700;
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem; }
    .navigation .links a {
      color: black; }

  .logo {
    width: 100%; }

  .header-container {
    top: auto;
    left: 0;
    bottom: 0;
    max-width: none; }

  header {
    background-position-x: 22%; } }
@media screen and (min-width: 250px) and (max-width: 600px) {
  .header-container-inner {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center; }
    .header-container-inner .become-memeber-btn {
      font-size: 1.4rem; } }
    @media screen and (min-width: 250px) and (max-width: 600px) and (min-width: 1024px) {
      .header-container-inner .become-memeber-btn {
        font-size: 1.8rem; } }

@media screen and (min-width: 250px) and (max-width: 600px) {
  .company-name .name {
    font-size: 1.4rem; }

  .company-name .subtitle {
    font-size: 1.2rem; }

  header nav {
    padding: 2rem; }

  .u-container-center {
    flex-direction: column; }

  .header-bg {
    min-height: 150vh;
    background-position: 50%; }

  .navigation .hamburger {
    top: 2rem; }

  header h1 {
    font-size: 2rem; }

  header h2 {
    font-size: 1.6rem; }

  header p {
    font-size: 1.4rem; } }
@media screen and (min-width: 750px) and (max-width: 1300px) {
  .header-bg {
    min-height: 150vh;
    overflow: hidden; }

  .header-container {
    top: 20%; }

  .navigation .hamburger {
    opacity: 1; }
  .navigation .links {
    background-color: #FFD700;
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem; }
    .navigation .links a {
      color: black; }

  .logo {
    width: 100%; }

  .header-container {
    top: auto;
    left: 0;
    bottom: 0;
    max-width: none; }

  header {
    background-position-x: 22%; } }
@use "sass:math";
.container {
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto; }

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }
  .row .col {
    flex: 1; }
  .row .col-1 {
    width: 8.3333333333%; }
  .row .col-2 {
    width: 16.6666666667%; }
  .row .col-3 {
    width: 25%; }
  .row .col-4 {
    width: 33.3333333333%; }
  .row .col-5 {
    width: 41.6666666667%; }
  .row .col-6 {
    width: 50%; }
  .row .col-7 {
    width: 58.3333333333%; }
  .row .col-8 {
    width: 66.6666666667%; }
  .row .col-9 {
    width: 75%; }
  .row .col-10 {
    width: 83.3333333333%; }
  .row .col-11 {
    width: 91.6666666667%; }
  .row .col-12 {
    width: 100%; }

@media (min-width: 48px) {
  .row .col-phone {
    flex: 1; }
  .row .col-phone-1 {
    width: 8.3333333333%; }
  .row .col-phone-2 {
    width: 16.6666666667%; }
  .row .col-phone-3 {
    width: 25%; }
  .row .col-phone-4 {
    width: 33.3333333333%; }
  .row .col-phone-5 {
    width: 41.6666666667%; }
  .row .col-phone-6 {
    width: 50%; }
  .row .col-phone-7 {
    width: 58.3333333333%; }
  .row .col-phone-8 {
    width: 66.6666666667%; }
  .row .col-phone-9 {
    width: 75%; }
  .row .col-phone-10 {
    width: 83.3333333333%; }
  .row .col-phone-11 {
    width: 91.6666666667%; }
  .row .col-phone-12 {
    width: 100%; } }
@media (min-width: 768px) {
  .row .col-tablet {
    flex: 1; }
  .row .col-tablet-1 {
    width: 8.3333333333%; }
  .row .col-tablet-2 {
    width: 16.6666666667%; }
  .row .col-tablet-3 {
    width: 25%; }
  .row .col-tablet-4 {
    width: 33.3333333333%; }
  .row .col-tablet-5 {
    width: 41.6666666667%; }
  .row .col-tablet-6 {
    width: 50%; }
  .row .col-tablet-7 {
    width: 58.3333333333%; }
  .row .col-tablet-8 {
    width: 66.6666666667%; }
  .row .col-tablet-9 {
    width: 75%; }
  .row .col-tablet-10 {
    width: 83.3333333333%; }
  .row .col-tablet-11 {
    width: 91.6666666667%; }
  .row .col-tablet-12 {
    width: 100%; } }
@media (min-width: 1200px) {
  .row .col-desktop {
    flex: 1; }
  .row .col-desktop-1 {
    width: 8.3333333333%; }
  .row .col-desktop-2 {
    width: 16.6666666667%; }
  .row .col-desktop-3 {
    width: 25%; }
  .row .col-desktop-4 {
    width: 33.3333333333%; }
  .row .col-desktop-5 {
    width: 41.6666666667%; }
  .row .col-desktop-6 {
    width: 50%; }
  .row .col-desktop-7 {
    width: 58.3333333333%; }
  .row .col-desktop-8 {
    width: 66.6666666667%; }
  .row .col-desktop-9 {
    width: 75%; }
  .row .col-desktop-10 {
    width: 83.3333333333%; }
  .row .col-desktop-11 {
    width: 91.6666666667%; }
  .row .col-desktop-12 {
    width: 100%; } }
@media (min-width: 1024px) {
  .row .col-laptop {
    flex: 1; }
  .row .col-laptop-1 {
    width: 8.3333333333%; }
  .row .col-laptop-2 {
    width: 16.6666666667%; }
  .row .col-laptop-3 {
    width: 25%; }
  .row .col-laptop-4 {
    width: 33.3333333333%; }
  .row .col-laptop-5 {
    width: 41.6666666667%; }
  .row .col-laptop-6 {
    width: 50%; }
  .row .col-laptop-7 {
    width: 58.3333333333%; }
  .row .col-laptop-8 {
    width: 66.6666666667%; }
  .row .col-laptop-9 {
    width: 75%; }
  .row .col-laptop-10 {
    width: 83.3333333333%; }
  .row .col-laptop-11 {
    width: 91.6666666667%; }
  .row .col-laptop-12 {
    width: 100%; } }
.footer {
  background-color: #181818;
  padding: 5rem 0;
  font-size: 1.4rem;
  color: #FFD700;
  display: flex;
  flex-direction: column;
  width: 100%; }
  .footer__item {
    padding: 3rem;
    background-color: #FFD700;
    color: #181818;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem; }
    .footer__item__social {
      padding: 5rem; }
    .footer__item__separator {
      font-size: 2rem;
      padding: 0 0.7rem; }
    .footer__item p {
      font-size: inherit; }
    .footer__item span {
      display: flex;
      align-items: center; }
    .footer__item i {
      font-size: 2rem;
      display: block;
      margin-right: 1rem; }

.footer__item a {
  text-decoration: none;
  color: #181818; }

.footer__item__Socail_media {
  background-color: #FFD700;
  color: #181818;
  padding: 3rem;
  display: flex;
  gap: 2rem; }

.footer__powerdBy {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  gap: 20px;
  align-items: center; }

.footer__powerdBy a {
  max-width: 250px; }
  @media (max-width: 1200px) {
    .footer__powerdBy a {
      max-width: 200px; } }

.footer__copyright {
  text-align: center; }

.footer__powerdBy img {
  width: 100%; }

.accordion {
  width: 70rem;
  margin: 0 auto;
  line-height: 1;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-right: 4rem; }
  .accordion_item {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 2.4rem;
    display: grid;
    grid-template-columns: 1fr auto;
    row-gap: 32px;
    align-items: center;
    background-color: white; }
  .accordion_text {
    font-size: 1.4rem;
    font-weight: 500;
    color: #181818; }
  .accordion_hidden-box {
    display: none; }
    .accordion_hidden-box ul {
      font-size: 1.4rem;
      color: #181818;
      margin-left: 20px;
      display: flex;
      flex-direction: column;
      gap: 12px; }
      @media screen and (min-width: 1024px) {
        .accordion_hidden-box ul {
          font-size: 1.8rem; } }
      .accordion_hidden-box ul li {
        margin-top: 1rem; }

.open {
  border-top: 4px solid #d8cd39; }

.open .accordion_hidden-box {
  display: block; }

@media screen and (max-width: 600px) {
  .accordion {
    padding-right: 0;
    width: 30rem; }

  .accordion_hidden-box {
    font-size: 1.4rem; } }
  @media screen and (max-width: 600px) and (min-width: 1024px) {
    .accordion_hidden-box {
      font-size: 1.8rem; } }

.custom_card {
  overflow: hidden;
  gap: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #FFD700;
  min-height: 800px;
  transition: 0.7s all ease-in-out; }
  .custom_card .card-title {
    background-color: #181818;
    width: 100%;
    font-size: 1.8rem;
    color: white;
    text-align: center;
    border-top: 10px solid #FFD700;
    padding: 2rem; }
  .custom_card p {
    margin-top: auto;
    background-color: #FFD700;
    font-size: 1.6rem;
    color: black;
    padding: 2rem;
    width: 100%;
    text-align: center; }
  .custom_card .custom_card_Button, .custom_card .custom_button_one {
    font-size: 1.6rem;
    padding: 2rem 4rem;
    text-decoration: none;
    background-color: #181818;
    color: #FFD700;
    margin-left: 2rem;
    margin-bottom: 2rem; }

.form {
  padding: 4rem;
  width: 90%;
  margin: 4rem auto 0 auto; }
  .form_feild {
    padding: 2rem;
    display: block;
    border: 1px solid black;
    margin-bottom: 3rem;
    width: 100%; }
    .form_feild:focus {
      outline: none; }
  .form input::placeholder,
  .form textarea::placeholder {
    color: black;
    opacity: 1; }
  .form textarea {
    height: 20rem;
    resize: none; }
  .form input[type=submit] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 50%;
    margin-top: 2rem;
    background-color: #181818;
    padding: 2rem;
    color: white;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    font-size: 1.4rem; }
  .form input[type=checkbox] {
    min-width: 20px; }

.checkbutton-wrapper {
  margin-top: 0.5rem;
  display: flex;
  gap: 1rem;
  font-size: 1.4rem; }

.goal-card .title p {
  font-size: 3.2rem;
  color: black; }
.goal-card .content p {
  font-size: 1.8rem;
  color: black; }

@media screen and (min-width: 250px) and (max-width: 600px) {
  .u-p-max-width {
    max-width: 600px; } }
@media screen and (min-width: 250px) and (max-width: 600px) {
  .u-p-max-width {
    max-width: 600px; } }
@media screen and (min-width: 1024px) {
  .u-p-max-width {
    max-width: 700px; } }

.u-center {
  text-align: center; }

.custom-path3 {
  -webkit-clip-path: polygon(0 0, 73% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 73% 0, 100% 100%, 0 100%); }

.seconday-color-bg {
  background-color: #FFD700; }

.position-absoulte {
  position: absolute; }

.position-relative {
  position: relative; }

.bg-black {
  background-color: black; }

.twenty-percent-top {
  top: 20%; }

.u-center {
  text-align: center; }

.u-margin-2 {
  margin-top: 2rem; }

.u-margin-4 {
  margin-top: 4rem; }

.u-grid-margin-4 {
  margin: 4rem; }

.full-screen {
  max-width: 120rem; }

.full-width {
  width: 100%; }

.Our-Values-section img {
  width: 100%;
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%); }

.Our-Values-section h1 {
  font-size: 2rem; }
  @media screen and (min-width: 1024px) {
    .Our-Values-section h1 {
      font-size: 2.8rem; } }

.sixty-percent-left {
  left: 65%; }

.Core-values-list {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  list-style-type: decimal;
  gap: 2rem; }

.Core-values-list li {
  font-size: 2.4rem; }

.section-title {
  text-align: center; }

.become-memeber-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem; }

.become-memeber-btn {
  padding: 1.5rem 3rem;
  background-color: black;
  color: white;
  font-size: 1.4rem;
  text-decoration: none;
  display: inline-block;
  margin-top: 2rem; }
  @media screen and (min-width: 1024px) {
    .become-memeber-btn {
      font-size: 1.8rem; } }

.card-img-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(/assets/imgs/awarness.webp), url(/assets/imgs/awarness-min.jpg);
  background-size: cover; }

.card-img-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(/assets/imgs/resilnicaeValue.webp), url(/assets/imgs/resilnicaeValue-min.jpg);
  background-size: cover;
  background-position: center; }

.card-img-3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(/assets/imgs/CandaBG.webp), url(/assets/imgs/CandaBG-min.jpg);
  background-size: cover;
  background-position: center; }

.card-img-4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(/assets/imgs/focusValue.webp), url(/assets/imgs/focusValue-min.jpg);
  background-size: cover;
  background-position: center; }

.card-img-5 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(/assets/imgs/TeamWorkValue.webp), url(/assets/imgs/TeamWorkValue-min.jpg);
  background-size: cover;
  background-position: center; }

.card {
  margin-bottom: 2rem;
  margin-left: 1rem;
  height: 35rem;
  width: 33rem;
  font-size: 1.5em;
  color: white;
  border-radius: 1em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  text-decoration: none;
  gap: 2rem; }

.card p {
  text-align: center; }

.become-memeber img {
  margin-left: 1rem;
  width: 90%; }

.section-margin {
  margin-top: 13rem; }

.margin-top-5 {
  margin-top: 5rem; }

.align-start {
  align-self: flex-start; }

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem; }

@media screen and (max-width: 600px) {
  .become-memeber img {
    width: 80%;
    margin-right: 2rem; }

  .become-memeber-wrapper p {
    max-width: 225px;
    text-align: center;
    max-width: 350px; } }
@media screen and (max-width: 998px) {
  .become-memeber img {
    margin-left: 4rem; } }
@media screen and (min-width: 999px) {
  .become-memeber img {
    margin-left: 5rem; } }
.Contact_us_left {
  min-height: 100vh; }

.defualt_flex {
  align-items: stretch; }

.u-flex-no-justify {
  justify-content: stretch; }

.u-flex-space {
  justify-content: space-between;
  padding: 2rem 4rem; }

.Contact_us_become-memeber_text {
  flex-wrap: wrap;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.reverse {
  flex-direction: row; }

.row-margin-2 {
  margin-top: 2rem; }

@media screen and (min-width: 1200px) {
  .reverse {
    flex-direction: row-reverse; } }
@media screen and (min-width: 250px) and (max-width: 600px) {
  .card {
    width: 28rem; } }
@media screen and (min-width: 250px) and (max-width: 1400px) {
  .Contact_us_become-memeber_text {
    padding: 2rem; }

  .u-margin-2 {
    margin-top: 0px; } }
.program-section img {
  width: 100%; }

.form textarea {
  margin-top: 3rem; }

.dropdown {
  display: block;
  border: 1px solid black;
  width: 100%;
  position: relative; }

.dropdown-select {
  padding: 1.5rem;
  background-color: white;
  border-radius: 4px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.6rem;
  cursor: pointer; }

.dropdown-list {
  opacity: 0;
  visibility: hidden;
  border: 1px solid black;
  position: absolute;
  border-radius: 4px;
  background-color: white;
  top: 101%;
  left: 0;
  right: 0; }

.dropdown-list__item {
  cursor: pointer;
  padding: 1rem;
  font-size: 1.4rem; }

.dropdown-list__item:hover {
  background-color: #FFD700; }

.eagle-card-image-1 {
  background-image: url(/assets/imgs/focusValue.webp), url(/assets/imgs/focusValue-min.jpg);
  background-size: cover;
  background-position: center; }

.eagle-card-image-2 {
  background-image: url(/assets/imgs/HouseLeagueNew.webp), url(/assets/imgs/HouseLeagueNew-min.jpg);
  background-size: cover;
  background-position: center; }

.eagle-card-image-3 {
  background-image: url(/assets/imgs/OlympicDevelopment.webp), url(/assets/imgs/OlympicDevelopment-min.jpg);
  background-size: cover;
  background-position: center; }

.u-padding-2 {
  padding: 2rem; }

.card-image-athlete {
  background-image: url(/assets/imgs/sponsorAthlete.webp), url(/assets/imgs/sponsorAthlete-min.JPG);
  background-size: cover; }

.card-image-website {
  background-image: url(/assets/imgs/HouseLeagueNew.webp), url(/assets/imgs/HouseLeagueNew-min.jpg);
  background-size: cover; }

@media screen and (max-width: 1024px) {
  .custom_button_one {
    padding: 1.5rem 3rem !important; } }

.aboutUs img {
  width: 100%;
  display: block; }

.about-us-content-wrapper {
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%; }
  .about-us-content-wrapper h1 {
    text-align: left; }
  .about-us-content-wrapper p {
    text-align: left;
    font-size: 1.6rem;
    line-height: 1.6; }

.aboutUs-button {
  font-size: 1.6rem;
  padding: 2rem 4rem;
  text-decoration: none;
  background-color: #181818;
  color: #FFD700;
  display: inline-block; }

.about-us-content-wrapper-items {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2rem; }

.FAQ {
  min-height: 70vh;
  background-color: #181818;
  gap: 4rem;
  display: flex;
  flex-direction: column; }
  .FAQ h1 {
    margin-top: 11rem;
    text-align: center;
    color: white; }

.u-no-padding-right {
  padding-right: 0; }

.u-bold {
  font-weight: bold; }

@media screen and (min-width: 250px) and (max-width: 1024px) {
  .aboutUs .row {
    flex-direction: column-reverse; } }
.athletes-section-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem; }

.u-overflow-hidden {
  overflow: hidden; }

.u-center-container {
  max-width: 1200px; }

.image-full-width {
  width: 100%;
  display: block;
  height: 50rem;
  object-fit: cover; }

.image-margin {
  margin-top: -5rem;
  margin-right: 5rem; }

.paragraph-font {
  font-size: 1.6rem; }

.left {
  padding: 4rem;
  min-height: 33rem;
  margin-right: -40px; }

.right-image {
  flex-direction: row-reverse; }

.row-margin {
  margin-bottom: 10rem; }

.our-goals-card-padding {
  padding: 2rem 4rem; }

.yellow-font {
  color: #FFD700; }

.row-margin {
  margin-top: 4rem; }

.container-padding {
  padding: 2rem 4rem; }

.our-goals-card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: revert-layer;
  gap: 2rem; }

@media screen and (min-width: 1024px) {
  .athelete-memebers .row {
    flex-wrap: nowrap; } }
@media screen and (min-width: 250px) and (max-width: 1024px) {
  .our-goals-card-wrapper .paragraph-font {
    min-width: 250px; }

  .our-goals-section {
    padding: 0; }

  .aboutUs-button {
    font-size: 1.2rem; }

  .athelete-memebers .row {
    flex-direction: column-reverse;
    flex-wrap: wrap; }

  .athelete-memebers .left {
    margin-top: 0; } }

/*# sourceMappingURL=style.css.map */
