.footer {
    background-color: $primary-color;
    padding: 5rem 0;
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    color: $secondary-color;


    &__copyright {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
    }
}



.footer__powerdBy {
    display: flex;
    flex-direction: column;

    gap: 2rem;
    align-items: center;
}

.footer__powerdBy a {
    max-width: 250px;

    // target to large desktop
    @media (max-width: 1200px) {
        & {
            max-width: 200px;
        }
    }

}

.footer__powerdBy img {
    width: 100%;
}