@use "sass:math";

$grid-columns: 3;
$grid-gaps: (
    "0":0,
    "1":10px,
    "2":20px,
    "3":30px
);
// base layout classes ==>Center content

.container {
    width: 100%;
    // max-width: 1200px;
    box-sizing: border-box;
    margin: 0 auto;
}

//genreate column classes 

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;


    .col {
        flex: 1;
    }

    @for $size from 1 through 12 {
        .col-#{$size} {
            width: ($size/12)*100%;
            ;
        }
    }

}


@mixin grid-system($device) {
    .row {
        .col-#{$device} {
            flex: 1;
        }

        @for $size from 1 through 12 {
            .col-#{$device}-#{$size} {
                width: ($size/12)*100%;
            }
        }

    }
}


//small mobile device < 768px 
@media(min-width:48px) {
    @include grid-system('phone');
}

//Tablet Devices
@media (min-width:768px) {
    @include grid-system('tablet');
}

//Desktop Devices
@media (min-width:1200px) {
    @include grid-system('desktop');
}

@media (min-width:1024px) {
    @include grid-system('laptop');
}