.header-bg {
    position: relative;
    background-image: url(/assets/imgs/Photo\ Nov\ 25\ 2022\,\ 12\ 22\ 22\ AM.webp) , url(/assets/imgs/Photo\ Nov\ 25\ 2022\,\ 12\ 22\ 22\ AM-min.jpg);
    min-height: 95vh;
    background-size: cover;


}



header {

    

    .dropdown__menu {
        display: none;
        position: absolute;
        right: 0%;
        background-color: $primary-color;

        ul {
            display: block;
            margin: 1rem;

            li {

                padding: 10px;
            }
        }
    }


    nav {
        background-color: $primary-color;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    h1 {
        font-size: 3.4;
        margin-bottom: 1rem;
        line-height: 1.05;
    }

    h2 {
        font-size: 2.8rem;
    }

    p {
        font-size: 1.8rem;
        line-height: 1.6;
    }


}

.header-container {
    padding: 2rem 4rem;
    max-width: 70rem;
    position: absolute;
    left: 60%;
    top: 30%;

}

.header-container .header-container-inner h2 {
    margin-left: 0%;
}




.navigation {

    z-index: 1;
    width: 60%;

    .toggler {
        z-index: 3;
        position: absolute;
        right: 0.5rem;
        top: 0.5rem;
        width: 40px;
        height: 40px;
        opacity: 0;
    }

    .hamburger {
        z-index: 2;
        opacity: 0;
        position: absolute;
        right: 0.5rem;

        width: 40px;
        height: 40px;
        background-color: $primary-color;
        display: flex;
        justify-content: center;
        align-items: center;

        top: 0.5rem;
    }

    .hamburger > div {
        position: absolute;
        width: 70%;
        height: 3px;
        border-radius: 1.5px;
        background-color: $secondary-color;
        transition: .4s;
    }

    .hamburger > div::before,
    .hamburger > div::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        border-radius: 1.5px;
        background-color: $secondary-color;
        transition: .4s;
    }

    .hamburger > div::before {
        top: -10px;
    }

    .hamburger > div::after {
        top: 10px;
    }

    .toggler:checked ~ .links {
        visibility: visible;
    }

    .toggler:checked:hover + .hamburger > div {
        transform: rotate(225deg);
    }

    .toggler:checked + .hamburger > div {
        transform: rotate(135deg);
    }

    .toggler:checked + .hamburger > div::after,
    .toggler:checked + .hamburger > div::before {
        transform: rotate(90deg);
        top: 0;
    }
}


.links {

    padding: 3rem;
    display: flex;
    justify-content: space-around;

    list-style: none;

    a {

        color: white;
        text-decoration: none;
        font-size: 1.8rem;
    }
}







.logo {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    width: 40%;
}

.company-name .name,
.subtitle {
    max-width: 1000px;
    color: white;
}

.company-name .name {
    font-size: 2.4rem;
}

.company-name .subtitle {
    font-size: 1.4rem;
    font-weight: bold;
}


@media screen and(max-width:966px) {



    header {
        .dropdown__menu {
            list-style: none;
            right: 50%;
            background: none;
            transform: translateX(50%);

            ul {
                text-align: center;
                list-style-type: none;
            }

        }
    }


    .navigation {
        .hamburger {
            opacity: 1;
        }

        .links {

            background-color: $secondary-color;
            position: fixed;
            top: 0;
            left: 0;
            visibility: hidden;
            width: 100vw;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 2rem;



            a {
                color: black;
            }
        }


    }

    .logo {
        width: 100%;
    }

    .header-container {
        top: auto;
        left: 0;
        bottom: 0;
        max-width: none;
    }

    header {
        background-position-x: 22%;
    }


}





// media quary for the header nav 


@media screen and (min-width:250px) and (max-width:600px) {



.header-container-inner
{
    display: flex;
    flex-direction: column;
    align-items:start;
    justify-content: center;

    .become-memeber-btn
    {
        font-size: $mobile-fontSize-Paragraph;
        @media screen and (min-width:1024px) {
            font-size:1.8rem;
        }
    }
}

    .company-name .name {
        font-size: 1.4rem;
    }

    .company-name .subtitle {
        font-size: 1.2rem;
    }

    header nav {
        padding: 2rem;
    }

    .u-container-center {
        flex-direction: column;
    }

    .header-bg {
        min-height:150vh;
        background-position: 50%;
    }

    .navigation .hamburger {
        top: 2rem;
    }

    header h1 {
        
        font-size:$mobile-fontSize-h1;
    }

    header h2 {
         
        font-size: $mobile-fontSize-h2;
    }

    header p 
    {
        font-size: $mobile-fontSize-Paragraph;
        
    }




}

 


@media screen and(min-width:750px)and(max-width:1300px) {
    .header-bg {
        
        min-height: 150vh;
        
        overflow: hidden;
    }

    .header-container {
        top: 20%;
    }

    .navigation {
        .hamburger {
            opacity: 1;
        }

        .links {

            background-color: $secondary-color;
            position: fixed;
            top: 0;
            left: 0;
            visibility: hidden;
            width: 100vw;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 2rem;



            a {
                color: black;
            }
        }


    }

    .logo {
        width: 100%;
    }

    .header-container {
        top: auto;
        left: 0;
        bottom: 0;
        max-width: none;
    }

    header {
        background-position-x: 22%;
    }
}


