.form {

    padding: 4rem;
    width: 90%;
    margin: 4rem auto 0 auto;


    &_feild {
        padding: 2rem;
        display: block;
        border: 1px solid black;
        margin-bottom: 3rem;
        width: 100%;

        &:focus {
            outline: none;
        }

    }

    input::placeholder,
    textarea::placeholder {
        color: black;
        opacity: 1;
    }

    textarea {
        height: 20rem;
        resize: none;
    }

    input[type=submit] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 50%;
        margin-top: 2rem;
        background-color: $primary-color;
        padding: 2rem;
        color: white;
        border: none;
        text-transform: uppercase;
        cursor: pointer;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        font-size: $mobile-fontSize-Paragraph;


    }

    input[type=checkbox] {
        // fix ios device problem
        min-width: 20px;
    }





}

.checkbutton-wrapper {
    margin-top: 0.5rem;
    display: flex;
    gap: 1rem;
    font-size: $mobile-fontSize-Paragraph;
}

