.goal-card {


    .title {
        p {
            font-size: 3.2rem;
            color: black;
        }
    }

    .content {
        p {
            font-size: 1.8rem;
            color: black;
        }
    }


}