.custom_card {

    overflow: hidden;

    gap: 3rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    background-color: $secondary-color;
    min-height: 800px;
    // padding: 2rem 4rem;

    transition: 0.7s all ease-in-out;

    .card-title {
        background-color: $primary-color;
        width: 100%;
        font-size: 1.8rem;
        color: white;
        text-align: center;
        border-top: 10px solid $secondary-color;
        padding: 2rem;
    }

    p {
        margin-top: auto;

        background-color: $secondary-color;
        font-size: 1.6rem;
        color: black;
        padding: 2rem;
    }

    .custom_card_Button {

        font-size: 1.6rem;

        padding: 2rem 4rem;
        text-decoration: none;
        background-color: $primary-color;
        color: $secondary-color;
        margin-left: 2rem;
        margin-bottom: 2rem;
    }




}





// .custom_card:hover {
//     background-image: url(/assets/imgs/main-bg.jpg);
// }