.card-image-athlete {
    background-image: url(/assets/imgs/don-1.webp);
    background-size: cover;
    background-position-x: 50%;
}

.card-image-website {
    background-image: url(/assets/imgs/main-bg.jpg);
    background-size: cover;
}