.card-image-athlete {
    background-image: url(/assets/imgs/sponsorAthlete.webp),url(/assets/imgs/sponsorAthlete-min.JPG);
    background-size: cover;

}

.card-image-website {
    background-image: url(/assets/imgs/HouseLeagueNew.webp),url(/assets/imgs/HouseLeagueNew-min.jpg);
    background-size: cover;

}


.custom_button_one
{
    @extend .custom_card_Button;
    @media screen and (max-width:1024px) {
        padding: 1.5rem 3rem !important;
    }
    
}