.card-image-athlete {
    background-image: url(/assets/imgs/running.jpg);
    background-size: cover;
    background-position-x: 22%;
}

.card-image-website {
    background-image: url(/assets/imgs/main-bg.jpg);
    background-size: cover;
}